//color
$yellow:#ffcc33;
$white: #fff;
$grey:  #414141;
$black: #333;
$red: #ff5400;
$lightred: #ff5400;
$lightgrey: #fbfbfb;
$bluesmoke: #aab2bd;
$bluesmokelight: #cbd4e0;

//font
$font-size: 14px;
$font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
$font-family-main: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;


